@CHARSET "UTF-8"; 

@media all and (min-width:721px) {
	html {
		font-size: 62.5%
	}
}

@media all and (max-width:720px) {
	html {
		font-size: 62.5%
	}
}

@media all and (max-width:640px) {
	html {
		font-size: 55.556%
	}
}

@media all and (max-width:540px) {
	html {
		font-size: 46.875%
	}
}

@media all and (max-width:480px) {
	html {
		font-size: 41.667%
	}
}

@media all and (max-width:432px) {
	html {
		font-size: 37.5%
	}
}

@media all and (max-width:414px) {
	html {
		font-size: 35.9375%
	}
}

@media all and (max-width:400px) {
	html {
		font-size: 34.722%
	}
}

@media all and (max-width:360px) {
	html {
		font-size: 31.25%
	}
}

@media all and (max-width:340px) {
	html {
		font-size: 29.514%
	}
}

@media all and (max-width:320px) {
	html {
		font-size: 27.778%
	}
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del,
	dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol,
	ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td,
	article, aside, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(35, 167, 217, .5)
}

body {
	font-family: roboto, \65B9\6B63\5170\4EAD\7EA4\9ED1\7B80\4F53,
		\5FAE\8F6F\96C5\9ED1, "Helvetica Neue", Helvetica, Arial, sans-serif;
	word-wrap: break-word;
	line-height: 1.2;
	min-width: 320px;
	background-color: #f7f7f7;
	font-size: 2em
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: top
}

ol, ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

abbr, acronym {
	border: 0;
	font-variant: normal
}

abbr[title] {
	border-bottom: 1px dotted
}

del {
	text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: 400
}

input[type=button], input[type=submit] {
	padding: 0;
	-webkit-appearance: none;
	outline: 0
}

button, input[type=button] {
	cursor: pointer;
	-webkit-appearance: button
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

a:active, a:focus, input:focus {
	outline: 0
}

b {
	font-weight: normal
}

a, input {
	background-clip: padding-box
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
	select::-webkit-input-placeholder {
	color: #ccc
}

input, textarea, select {
	font-family: roboto, \65B9\6B63\5170\4EAD\7EA4\9ED1\7B80\4F53,
		\5FAE\8F6F\96C5\9ED1, "Helvetica Neue", Helvetica, Arial, sans-serif
}

input[type=text] {
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: .72em;
	-webkit-border-radius: .72em;
	font-size: 1.4em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #FFF;
	width: 3.43em;
	padding: 0 .6em;
	text-align: center;
	color: #888;
	height: 1.72em;
	line-height: 1.2
}

textarea {
	padding: .46875em .34875em;
	color: #2d2d2d
}

select {
	border: 1px solid #acacac;
	font-size: 1.3em;
	border-radius: .8em;
	-webkit-border-radius: .8em;
	background: #fff
		url(arrows.png)
		no-repeat right bottom;
	background-size: 2.4em 7.7em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 2.5;
	height: 2.65em;
	padding: 0 1.5em 0 .75em;
	color: #888;
	-webkit-appearance: listbox;
	-moz-appearance: listbox;
	appearance: listbox;
	width: 100%
}

select::-ms-expand {
	display: none
}

.u {
	text-decoration: underline
}

.fl, .left {
	float: left
}

.fr, .right {
	float: right
}

.bold {
	font-weight: 700
}

.hide, .hidden {
	display: none
}

.show {
	display: block
}

.tal {
	text-align: left
}

.tac, .center {
	text-align: center
}

.taj {
	text-align: justify
}

.tar {
	text-align: right
}

.vat {
	vertical-align: top
}

.pointer {
	cursor: pointer
}

.inline-block {
	display: inline-block
}

.vam {
	vertical-align: middle
}

.vat {
	vertical-align: top
}

.vab {
	vertical-align: bottom
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.ime-disabled {
	ime-mode: disabled !important
}

.relative {
	position: relative
}

.active-hide {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.red {
	color: #e01d20
}

.blue {
	color: #28c0c6
}

.hr-30 {
	height: 1em
}

.hr-60 {
	height: 1.4em
}

.hr-90 {
	height: 3em
}

.hr-100 {
	height: 3.33em
}

.hr-120 {
	height: 4em
}

.hr-150 {
	height: 5em
}

.hr-150-1 {
	height: 5em
}

.hr-178 {
	height: 5.93em
}

.hr-192 {
	height: 4.2em
}

.hr-200 {
	height: 6.67em
}

a {
	text-decoration: none;
	color: #111
}

.slider ul:after, .pro-panels:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.icon-arrows-right, .icon-arrows-top, .icon-arrows-down {
	display: inline-block;
	width: 3.2em;
	height: 3.2em;
	background:
		url(arrows.png)
		no-repeat;
	background-size: 3.2em 10.3em
}

.icon-arrows-right {
	background-position: 0 0
}

.icon-arrows-top {
	background-position: 0 -3.53em
}

.icon-arrows-down {
	background-position: 0 -7.07em
}

.icon-loading, .icon-loading-big {
	display: inline-block;
	background: transparent
		url(loading3.png) scroll no-repeat;
	background-size: 100% 100%;
	-webkit-animation: rotate 1s infinite;
	-moz-animation: rotate 1s infinite
}

.icon-loading {
	height: 2em;
	width: 2em
}

.icon-loading-big {
	height: 4em;
	width: 4em
}

@
-webkit-keyframes rotate { 0%{
	-webkit-transform: rotate(0deg)
}

100%{
-webkit-transform
:rotate(360deg)
}
}
@
-moz-keyframes rotate { 0%{
	-moz-transform: rotate(0deg)
}

100%{
-moz-transform
:rotate(360deg)
}
}
.icon-success {
	background: url(success.png) no-repeat;
	display: inline-block;
	width: 3.2em;
	height: 3.2em;
	background-position: 0 0;
	background-size: 100% 100%
}

.icon-success-2 {
	background: url(success2.png) no-repeat;
	display: inline-block;
	width: 16em;
	height: 16em;
	background-position: 0 0;
	background-size: 100% 100%
}

.icon-del, .icon-del-disabled {
	display: inline-block;
	width: 1.6em;
	height: 1.77em;
	background: transparent
		url(icon_delete.png) scroll no-repeat
		0 0;
	background-size: 100% 200%;
	position: relative;
	z-index: 55
}

.icon-del, .icon-del-disabled {
	background-position: 0 0
}

.icon-error-2 {
	display: inline-block;
	width: 16em;
	height: 16em;
	background: transparent url(error2.png)
		scroll no-repeat 0 0;
	background-size: 100% 100%
}

.icon-ok {
	display: inline-block;
	width: 7.6em;
	height: 3.93em;
	background: transparent url(icon8.png)
		scroll no-repeat 0 0;
	background-size: 100% 100%
}

.icon-error {
	display: inline-block;
	width: 4em;
	height: 3.93em;
	background: transparent url(icon7.png)
		scroll no-repeat 0 0;
	background-size: 100% 100%
}

.icon-time {
	display: inline-block;
	width: 3.1em;
	height: 3.1em;
	background: transparent url(icon9.png)
		scroll no-repeat 0 0;
	background-size: 100% 100%
}

.icon-online, .icon-mail, .icon-tel {
	display: inline-block;
	width: 3.2em;
	height: 3.2em;
	background: transparent no-repeat scroll 0 0;
	background-size: 100% 100%
}

.icon-online {
	background-image: url(icon_online.png)
}

.icon-mail {
	background-image: url(icon_mail.png)
}

.icon-tel {
	background-image: url(icon_tel.png)
}

.icon-sc, .icon-review-none, .icon-list-empty, .icon-search-empty,
	.icon-appt-empty {
	height: 6.6em;
	width: 6.6em;
	display: inline-block;
	background: transparent scroll no-repeat 0 0;
	background-size: 100% 100%
}

.icon-order, .icon-msg, .icon-network-error {
	display: inline-block;
	width: 10em;
	height: 10em;
	background: transparent scroll no-repeat 0 0;
	background-size: 100% 100%
}

.icon-sc {
	background-image:
		url(empty_shopping.png)
}

.icon-review-none, .icon-list-empty {
	background-image: url(empty_review.png)
}

.icon-search-empty {
	background-image: url(empty_search.png)
}

.icon-appt-empty {
	background-image: url(empty_appt.png)
}

.icon-msg {
	background-image: url(icon18.png)
}

.icon-order {
	background-image: url(icon19.png)
}

.icon-network-error {
	background-image: url(icon25.png)
}

.icon-edit {
	display: inline-block;
	width: 5.1em;
	height: 3.3em;
	background-image: url(icon24.png);
	background-size: 100% 100%
}

.icon-options {
	display: inline-block;
	width: 3.2em;
	height: 3.1em;
	background-image: url(icon23.png);
	background-size: 100% 100%
}

.icon-tips {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url(icon27.png);
	background-size: 100% 100%
}

.arrow-double-right {
	display: inline-block;
	height: 1em;
	width: 1em;
	background: transparent
		url(arrow-double-right.png) scroll
		no-repeat;
	background-size: 100% 100%
}

.icon-vip-0, .icon-vip-1, .icon-vip-2, .icon-vip-3, .icon-vip-4,
	.icon-vip-5 {
	display: inline-block;
	width: .933em;
	height: .933em;
	background: transparent url(vip.png)
		scroll no-repeat;
	background-size: 8em .933em
}

.icon-vip-0 {
	background-position: 0 0
}

.icon-vip-1 {
	background-position: -1.33em 0
}

.icon-vip-2 {
	background-position: -2.67em 0
}

.icon-vip-3 {
	background-position: -4em 0
}

.icon-vip-4 {
	background-position: -5.33em 0
}

.icon-vip-5 {
	background-position: -6.67em 0
}

.icon-personal, .icon-home, .icon-shoppingCart, .icon-search {
	display: block;
	background-position: 50% 50%
}

.icon-personal {
	background: transparent
		url(icon_personal.png) scroll
		no-repeat
}

.icon-home {
	background: transparent
		url(icon_home.png) scroll no-repeat
}

.icon-shoppingCart {
	background: transparent
		url(icon_shoppingCart.png)
		scroll no-repeat
}

.icon-search {
	background: transparent
		url(icon_search.png) scroll no-repeat
}

.button-top {
	background: url(top.png) no-repeat
}

.icon-msg-error {
	background: url(icon13.png) no-repeat;
	display: inline-block;
	width: 3.2em;
	height: 3.2em;
	background-position: 0 0;
	background-size: 100% 100%
}

.icon-warn-round {
	background: url(warn2.png) no-repeat
		scroll 0 0
}

.icon-warn-round {
	display: inline-block;
	height: 6.6em;
	width: 6.6em;
	background-size: 100% 100%
}

.system-empty, .system-error {
	padding: 3.4em 1em 0;
	text-align: center
}

.system-empty .b, .system-error .b {
	margin-top: 1em
}

.system-empty .f, .system-error .f {
	padding-top: 3.6em
}

.system-empty p, .system-error p {
	font-size: 1.2em
}

.system-empty a, .system-error a {
	width: 4em
}

.system-loading {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	z-index: 199;
	background-color: rgba(0, 0, 0, .3)
}

.system-loading .loading {
	position: absolute;
	top: 26%;
	left: 0;
	right: 0
}

.loading {
	text-align: center;
	margin: 1.6em 1.2em
}

.loading .p-loading {
	font-size: 1.1em;
	color: #888
}

.more-loading {
	font-size: 1.2em;
	color: #888;
	background: transparent
		url(loading_up.png) scroll
		no-repeat;
	background-size: 1.3em 1.3em;
	background-position: center right;
	padding-right: 1.6em
}

.button-style-1, .button-style-2 {
	display: block;
	width: 9.8em;
	background-color: #f03f01;
	border: 1px solid #d93800;
	border-radius: 1em;
	color: #fff;
	text-align: center;
	line-height: 2.4
}

.button-style-1:active, .button-style-2:active {
	background-color: #e43c01;
	border: 1px solid #ce3500;
	color: #f2f2f2
}

.button-style-3 {
	display: block;
	width: 14.8em;
	line-height: 2.5;
	background-color: #f0edec;
	border: 1px solid #a8a8a8;
	border-radius: 1em;
	color: #333;
	text-align: center
}

.button-style-1-disabled {
	display: inline-block;
	text-align: center;
	padding: 0 1.2em;
	height: 2.9em;
	line-height: 2.9em;
	border-radius: 1em;
	text-align: center;
	min-width: 3.6em;
	background-color: #f6bbbc;
	border: 1px solid #f0b5b6;
	color: #fff
}

.button-style-1 span, .button-style-2 span, .button-style-3 span,
	.button-go-shopping span {
	font-size: 1.4em;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK
}

.button-style-1-disabled span {
	font-size: 1.2em;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK
}

.button-top {
	display: inline-block;
	border-radius: 50%;
	width: 3.9em;
	height: 3.9em;
	background-color: rgba(0, 0, 0, .3);
	background-position: 0 0;
	background-size: 100% 100%
}

.button-top span {
	display: none
}

.button-order-do {
	display: inline-block;
	border-radius: 1em;
	text-align: center;
	padding: 0 1em;
	line-height: 2.1;
	background-color: #fbfbfb;
	border: 1px solid #b2b2b2
}

.button-order-do span {
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	font-size: 1.1em;
	color: #7e7e7e
}

.button-view-order, .button-go-shopping, .button-big-1 {
	display: inline-block;
	padding: 0 1.4em;
	height: 4.3em;
	line-height: 4.3em;
	border-radius: 1em;
	text-align: center;
	min-width: 4.1em
}

.button-view-order span, .button-go-shopping span, .button-big-1 span {
	font-size: 1.4em;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK
}

.button-view-order {
	background-color: #fbfbfb;
	border: 1px solid #b2b2b2;
	color: #e01d20
}

.button-view-order:active {
	background-color: #eee;
	border: 1px solid #a9a9a9;
	color: #d51c1e
}

.button-go-shopping, .button-big-1 {
	background-color: #fbfbfb;
	border: 1px solid #b2b2b2;
	color: #333
}

.button-go-shopping:active, .button-big-1:active {
	background-color: #eee;
	border: 1px solid #a9a9a9;
	color: #303030
}

.button-cancel, .button-edit, .button-express-gray, .button-exchange,
	.button-express, .button-review, .button-order-pay {
	display: inline-block;
	text-align: center;
	padding: 0 1.2em;
	height: 2.9em;
	line-height: 2.9em;
	border-radius: 1em;
	text-align: center;
	min-width: 3.6em
}

.button-cancel, .button-edit, .button-express-gray, .button-exchange {
	background-color: #fbfbfb;
	border: 1px solid #b2b2b2;
	color: #333
}

.button-cancel:active, .button-edit:active, .button-express-gray:active,
	.button-exchange:active {
	background-color: #eee;
	border: 1px solid #a9a9a9;
	color: #303030
}

.button-review, .button-express {
	background-color: #28c0c6;
	border: 1px solid #18aab0;
	color: #fff
}

.button-review:active .button-express:active {
	background-color: #26b6bc;
	border: 1px solid #17a1a7;
	color: #f2f2f2
}

.button-order-pay {
	background-color: #e01d20;
	border: 1px solid #cc0a0d;
	color: #fff
}

.button-order-pay:active {
	background-color: #e43c01;
	border: 1px solid #ce3500;
	color: #f2f2f2
}

.button-cancel span, .button-edit span, .button-express-gray span,
	.button-exchange span, .button-express span, .button-review span,
	.button-order-pay span {
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	font-size: 1.2em
}

.button-go-pay {
	border-radius: 1em;
	display: inline-block;
	line-height: 3.1;
	text-align: center;
	background-color: #f03f01;
	border: 1px solid #d93800;
	color: #fff
}

.button-go-pay:active {
	background-color: #e43c01;
	border: 1px solid #ce3500;
	color: #f2f2f2
}

.button-go-pay span {
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	font-size: 1.4em
}

.button-more {
	display: inline-block;
	border-radius: 1em;
	text-align: center;
	line-height: 3.1;
	width: 100%;
	background-color: #f7f7f7;
	border: 1px solid #a8a8a8;
	cursor: pointer
}

.button-more span {
	font-size: 1.4em;
	color: #333;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK
}

.button-confirm, .button-go-pay-red {
	display: inline-block;
	border-radius: 1em;
	text-align: center;
	line-height: 2.38;
	color: #fff
}

.button-confirm {
	width: 9.9em;
	background-color: #28c0c6;
	border: 1px solid #18aab0
}

.button-go-pay-red {
	background-color: #f03f01;
	border: 1px solid #d93800;
	width: 6.6em
}

.button-confirm span, .button-go-pay-red span {
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	font-size: 1.4em
}

.button-go-pay-red {
	display: block;
	padding: 0 1.3em;
	line-height: 2.4;
	background-color: #e01d20;
	border: 1px solid #d93800;
	border-radius: 1em;
	color: #fff;
	text-align: center
}

.button-more {
	display: inline-block;
	border-radius: 1em;
	text-align: center;
	line-height: 3.1;
	width: 100%;
	background-color: #f7f7f7;
	border: 1px solid #a8a8a8;
	cursor: pointer
}

.button-more span {
	font-size: 1.4em;
	color: #333;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK
}

.system-empty {
	position: fixed;
	left: 0;
	right: 0;
	top: 26%;
	bottom: 0;
	text-align: center
}

.system-empty-title {
	padding-top: .2em
}

.system-empty-title span {
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	color: #888
}

.system-action {
	padding: 0 1.8em 3em;
	background-color: #f7f7f7;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0
}

.system-action a {
	box-flex: 1;
	display: block;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-left: .8em
}

.system-action a:first-child {
	margin-left: 0
}

.checkbox input {
	display: none
}

.checkbox i {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0 none;
	display: inline-block;
	width: 3.2em;
	height: 3.2em;
	background: transparent
		url(icon4_1.png) scroll no-repeat top;
	background-size: 100% 200%
}

.checkbox *:checked+i {
	background-position: bottom
}

.checkbox-text, .checkbox-text-checked {
	display: inline-block;
	border-radius: 1em;
	padding: .9em;
	margin: .8em
}

.checkbox-text {
	border: 1px solid #d7d7d7;
	background-color: #FFF
}

.checkbox-text-checked {
	border: 1px solid #efbaa8;
	background-color: transparent
}

.checkbox-text span, .checkbox-text-checked span {
	font-size: 1.3em
}

.checkbox-text span {
	color: #888
}

.checkbox-text-checked span {
	color: #e01d20
}

.radiobox i {
	background: url(radio.png) no-repeat
}

.radiobox input {
	display: none
}

.radiobox i {
	display: inline-block;
	vertical-align: top;
	width: 3.2em;
	height: 3.2em;
	background-position: 0 0;
	background-size: 100% 200%
}

.radiobox *:checked+i {
	background-position: bottom
}

.form-msg {
	position: relative;
	z-index: 3
}

.form-msg-error {
	display: none;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -1.8em;
	line-height: 1.2
}

.form-msg-error-title {
	position: absolute;
	border: 1px solid #f0460e;
	border-radius: 1em;
	background-color: #FFF;
	right: -.4em;
	top: 3.25em;
	text-align: right;
	white-space: nowrap;
	padding: 1.15em 1.8em
}

.form-msg-error-title:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	top: -.6em;
	right: 1.4em;
	border-bottom: .6em solid #f0460e;
	border-left: .6em solid rgba(0, 0, 0, 0);
	border-right: .6em solid rgba(0, 0, 0, 0);
	z-index: 1
}

.form-msg-error-title:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	top: -.5em;
	right: 1.4em;
	border-bottom: .6em solid #FFF;
	border-left: .6em solid rgba(0, 0, 0, 0);
	border-right: .6em solid rgba(0, 0, 0, 0);
	z-index: 2
}

.form-msg-error-title em {
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	font-size: 1.4em;
	color: #f0460e
}

.star-area, .star-area s {
	background: transparent url(star2.png)
		scroll no-repeat 0 0;
	background-size: 11.6em 1.1em
}

.star-area {
	display: inline-block;
	width: 5.8em;
	height: 1.1em;
	overflow: hidden;
	position: relative
}

.star-area s {
	display: block;
	height: 1.1em;
	position: absolute;
	top: 0;
	left: 0;
	background-position: -5.8em 0
}

.star-area-big, .star-area-big s {
	background: url(starbig.png) repeat-x;
	background-size: 2em 4em
}

.star-area-big {
	display: inline-block;
	width: 10em;
	height: 2em;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	background-position: 0 0
}

.star-area-big s {
	height: 2em;
	position: absolute;
	top: 0;
	left: 0;
	background-position: 0 -2em
}

.slider {
	position: relative;
	width: 100%;
	overflow: hidden
}

#slider li {
	float: left
}

#slider img {
	vertical-align: top
}

.slider-btn {
	text-align: center
}

.slider-btn span {
	display: inline-block;
	text-align: center;
	padding: .25em .5em;
	border-radius: 1.6em;
	-webkit-border-radius: .35em;
	background-color: rgba(255, 255, 255, .2);
	border: 2px solid rgba(0, 0, 0, .06)
}

.slider-btn em {
	display: inline-block;
	width: .6em;
	height: .6em;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid rgba(136, 136, 136, .6);
	background-color: rgba(255, 255, 255, 1);
	vertical-align: middle;
	margin: 0 .25em;
	overflow: hidden;
	text-indent: -9990em
}

.slider-btn em.on {
	border-color: rgba(102, 102, 102, 1);
	background-color: rgba(102, 102, 102, 1)
}

.tab-page>header {
	border-bottom: 2px solid #c6c6c6;
	padding: .67em 3.2em;
	background-color: #f7f7f7
}

.tab-page>header div {
	border: 1px solid #9d9d9d;
	border-radius: .4em;
	-webkit-border-radius: .4em;
	box-shadow: 0 -.3em 0 rgba(222, 222, 222, 1)
}

.tab-page>header table {
	width: 100%;
	table-layout: fixed
}

.tab-page>header th {
	border-right: 1px solid #777;
	height: 2.39em;
	background: transparent url(bg1.png)
		scroll repeat-x 0 0;
	background-size: 100% 100%;
	vertical-align: middle;
	font-size: 1.9em;
	color: #000;
	text-align: center
}

.tab-page>header th:last-child {
	border-right: 0 none
}

.tab-page>header th.selected {
	background-image: url(bg2.png);
	color: #FFF
}

.tab-page-slider {
	position: relative;
	width: 100%;
	overflow: hidden
}

.tab-page-area {
	float: left;
	min-height: 70em
}

.sc-pro-item {
	position: relative
}

.pro-panels {
	padding: .8em 0;
	background-color: #fff;
	border-top: 1px solid #eee
}

.pro-panels .p-img {
	height: 6.8em;
	width: 6.8em;
	float: left;
	position: relative
}

.pro-panels .p-img>img, .pro-panels .p-img a img {
	border: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top
}

.pro-panels .p-img i, .pro-panels .icon-gift i {
	position: absolute;
	top: 0;
	left: 0;
	height: 2.6em;
	width: 2.6em;
	z-index: 5;
	background-size: 100% 100%
}

.pro-panels .p-img i.lack {
	background-image: url(pro_lack.png)
}

.pro-panels .p-img i.gift, .pro-panels .icon-gift i {
	background-image: url(pro_gift.png)
}

.pro-panels .icon-gift {
	position: absolute;
	top: 0;
	left: 0
}

.pro-panels .p-name, .pro-panels .p-promotion {
	padding-left: .6em;
	padding-right: 0;
	overflow: hidden
}

.pro-panels .p-name {
	color: #333;
	max-height: 3.4em;
	margin-top: .2em;
	overflow: hidden;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.pro-panels .p-name span {
	font-size: 1.4em
}

.pro-panels .p-name em {
	font-size: 1.4em;
	color: #28c0c6
}

.pro-panels .p-promotion {
	padding-top: .3em;
	color: #888
}

.pro-panels .p-promotion span {
	font-size: 1.1em
}

.pro-panels .p-amount {
	position: absolute;
	bottom: 1em;
	right: 1.2em;
	color: #333
}

.pro-panels .p-amount label, .pro-panels .p-amount em {
	font-size: 1.4em
}

.pro-panels .p-amount span input {
	vertical-align: bottom
}

.pro-panels .p-price {
	position: absolute;
	bottom: 1em;
	left: 7.4em
}

.pro-panels .p-price b {
	color: #e01d20
}

.pro-panels .p-price del {
	margin-left: .8em;
	color: #888
}

.pro-panels .p-price em {
	font-size: 1.4em
}

.pro-panels-1 .p-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.pro-panels .p-lack {
	position: absolute;
	right: 1em;
	bottom: 1em;
	color: #ccc
}

.pro-panels .p-lack span {
	font-size: 1.1em
}

.button-area-1 {
	padding: 1.4em 3.2em 2em;
	text-align: center
}

.button-area-2 {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 13.6em;
	border-top: 1px solid #868686;
	border-radius: .6em .6em 0 0;
	-webkit-border-radius: .6em .6em 0 0;
	background-color: #e7e7e7;
	box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.8), 0 2px 1px
		rgba(255, 255, 255, 1) inset;
	padding: 0 3.2em;
	z-index: 99
}

.button-area-2 table {
	width: 100%
}

.button-area-2 td {
	height: 13.6em;
	vertical-align: middle
}

.tips {
	border: 1px solid #c6c6c6;
	border-radius: .16em;
	-webkit-border-radius: .16em;
	background-color: #fffeeb;
	font-size: 1.6em;
	color: #666;
	padding: .83em
}

.tips p {
	margin-bottom: 1.16em
}

.tips p:last-child {
	margin-bottom: 0
}

.tips a {
	color: #006dd9;
	text-decoration: underline
}

.tips em {
	color: #d43e25;
	font-size: 1.33em
}

.tips i {
	margin: 0 .41em 0 .33em
}

.tips-style-2 {
	border: 1px solid #dcb747;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #fbd86c;
	padding: 1.6em
}

.tips-style-2 p {
	font-size: 1.9em;
	color: #995e28
}

.index-top {
	position: relative;
	height: 4.8em
}

.header {
	height: 4.8em;
	background-color: rgba(255, 255, 255, .92);
	border-bottom: 1px solid #d2d2d2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 100
}

.header .logo {
	position: absolute;
	height: 100%
}

.header .logo a img {
	height: 100%
}

.header .search {
	width: 55%;
	position: relative;
	top: 20%;
	left: 11.3em
}

.header .search input {
	width: 100%;
	padding: 1em .6em;
	text-align: left
}

.header .search .icon-search {
	height: 2.2em;
	width: 2.2em;
	background-size: 2.2em 2.2em;
	position: absolute;
	right: .6em;
	top: 10%
}

.breadcrumb {
	background-color: #eee;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	border-bottom: 1px solid #c7c7c7
}

.breadcrumb header>a {
	position: absolute;
	left: 0;
	top: 0;
	width: 4.5em;
	height: 100%;
	background: transparent
		url(icon11_1.png)
		scroll no-repeat 50% 50%;
	background-size: .9em 1.6em
}

.breadcrumb header em {
	display: block;
	width: 100%;
	height: 3.53em;
	line-height: 3.53em;
	vertical-align: middle;
	font-size: 1.4em;
	color: #333;
	text-align: center;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK
}

.shortcut {
	position: absolute;
	right: 0;
	top: 0;
	padding-top: .5em;
	padding-right: .5em
}

.shortcut li {
	position: relative;
	text-align: center;
	display: inline-block;
	vertical-align: top
}

.shortcut .icon-home, .shortcut .icon-shoppingCart, .shortcut .icon-personal,
	.shortcut .icon-search {
	position: relative;
	padding: 1.9em;
	background-size: 3em 3em;
	background-position: 50% 50%
}

.shortcut .icon-shoppingCart span {
	position: absolute;
	display: block;
	top: .4em;
	right: 0;
	background:
		url(member2.png)
		no-repeat;
	background-size: 100% 100%;
	height: 1.5em;
	width: 1.5em;
	line-height: 1.5em;
	text-decoration: none;
	color: #fff;
	font-size: .9em
}

.shortcut .icon-text {
	display: block;
	height: 3.7em;
	width: 3.7em
}

.shortcut .icon-text span {
	line-height: 2.67;
	text-align: center;
	font-size: 1.4em;
	color: #28c0c6;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK
}

.breadcrumb-search {
	background-color: #eee
}

.breadcrumb-search header em {
	height: 6em;
	line-height: 6em;
	width: 74.5%;
	position: relative;
	left: 4.5em;
	font-size: 1em
}

.breadcrumb-search header em input {
	font-size: 1.3em;
	height: 2.6em;
	width: 100%;
	text-align: left;
	padding-left: .8em;
	color: #333;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK
}

.breadcrumb-search .search-clear {
	display: block;
	height: 3em;
	width: 3em;
	position: absolute;
	top: 50%;
	margin-top: -1.65em;
	right: .2em;
	background: url(icon-clear.png)
		no-repeat center center;
	background-size: 100% 100%
}

.breadcrumb-search .shortcut {
	padding-right: .6em;
	padding-top: 1.2em
}

.naver {
	height: 3.2em;
	position: absolute;
	top: 3.2em;
	left: 0;
	width: 100%;
	z-index: 100
}

.naver:after {
	content: "";
	position: absolute;
	width: 100%;
	height: .1em;
	top: -1px;
	background-color: #eee
}

.naver ul {
	border-bottom: .3em solid #0a9dcd;
	height: 3.07em;
	overflow: hidden
}

.naver li {
	float: left;
	width: 33%;
	height: 3.2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-right: .1em
}

.naver li:last-child {
	width: 34%;
	padding-right: 0
}

.naver li a {
	color: #0a9dcc;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 3.28em;
	text-align: center;
	font-size: .6em;
	background-color: #f7f7f7;
	border: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 0 none;
	border-radius: .21em .21em 0 0;
	-webkit-border-radius: .21em .21em 0 0;
	box-shadow: 0 2px 2px rgba(255, 255, 255, 1) inset, 0 -1px 4px 0
		rgba(0, 0, 0, .43) inset
}

.naver li a.current {
	color: #FFF;
	border-color: #099dcd;
	background-color: #39aed5;
	box-shadow: 0 2px 2px rgba(255, 255, 255, .6) inset, 0 0 4px 0
		rgba(0, 0, 0, .4) inset
}

.bottom-area {
	position: relative;
	bottom: 0;
	z-index: 19;
	width: 100%;
	padding: .9em 0;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	background-color: #fff
}

.bottom-area.fixed {
	position: fixed
}

.bottom-area.abs {
	position: absolute
}

.bottom-area p {
	text-align: center;
	padding: 0
}

.bottom-area p.login {
	width: 75%;
	margin: 0 auto
}

.bottom-area p.login a {
	display: inline-block;
	padding: .3em 1.2em;
	font-size: 1.3em;
	color: #888
}

.bottom-area p.touch {
	padding: 1em 0
}

.bottom-area p.touch a {
	padding: 0 .75em;
	font-size: 1.3em;
	color: #888;
	line-height: 1;
	display: inline-block;
	border-right: 1px solid #888
}

.bottom-area p.touch a:last-child {
	border-right: 0
}

.bottom-area p.touch a.current {
	color: #e01d20
}

.bottom-area p.copyright span {
	font-size: 1em;
	line-height: 1.5;
	color: #888
}

.action-fixed {
	position: relative;
	height: 7.2em
}

.osc-total {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	border-top: 1px solid #eee;
	z-index: 99
}

.osc-total-action-left {
	padding: 1.2em 1.6em
}

.osc-total-action-left .osc-total-price {
	font-size: 1em;
	margin-left: .5em;
	line-height: 2;
	color: #888
}

.osc-total-action-left .osc-total-price span, .osc-total-action-left .osc-total-price label
	{
	color: #333;
	font-size: 1.4em;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	vertical-align: middle
}

.osc-total-action-left .osc-total-price em {
	color: #e01d20;
	font-size: 1.8em;
	vertical-align: middle
}

.osc-total-action-right {
	position: absolute;
	right: 1.6em;
	top: 1.2em
}

.ecWap-mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 499;
	background-color: rgba(0, 0, 0, .7);
	visibility: visible;
	z-index: 155
}

.ecWap-box {
	position: fixed;
	z-index: 200;
	padding: .3em;
	border-radius: .6em;
	-webkit-border-radius: .6em;
	background-color: rgba(255, 255, 255, .9);
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ecWap-box-header {
	text-align: center;
	height: 5.8em;
	line-height: 5.9em
}

.ecWap-box-title {
	font-size: 1.4em;
	color: #333;
	position: relative
}

.ecWap-box-close {
	display: none
}

.ecWap-box-content {
	padding: 0 2em .2em;
	max-height: 27em;
	overflow: auto
}

.ecWap-box-footer {
	text-align: center;
	padding: 1.5em 1.65em
}

.ecWap-box-footer:before, .ecWap-box-footer:after {
	content: " ";
	display: table
}

.ecWap-box-footer:after {
	clear: both
}

.ecWap-box-cancel, .ecWap-box-ok {
	display: block;
	padding: 0 1em;
	height: 3.1em;
	line-height: 3.1em;
	border-radius: .7em;
	text-align: center;
	font-size: 1.4em;
	font-family: roboto, \65B9\6B63\5170\4EAD\51C6\9ED1_GBK;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 48%
}

.ecWap-box-cancel {
	background-color: #fbfbfb;
	border: 1px solid #b2b2b2;
	color: #333;
	float: left
}

.ecWap-box-ok {
	background-color: #fbfbfb;
	border: 1px solid #b2b2b2;
	color: #e01d20;
	float: right
}

.ecWap-box-footer a:only-child {
	width: 100%;
	margin: 0
}

.ecWap-box-cancel.active, .ecWap-box-cancel:active {
	background-color: #eee;
	border: 1px solid #a9a9a9;
	color: #303030
}

.ecWap-box-ok.active, .ecWap-box-ok:active {
	background-color: #eee;
	border: 1px solid #a9a9a9;
	color: #d51c1e
}

.ecWap-dialog-content {
	font-size: 1.3em;
	color: #888;
	text-align: left;
	line-height: 1.55
}

.ecWap-dialog-content p {
	text-align: center
}

.ecWap-dialog-content-loading {
	height: 50px;
	background: transparent
		url(loading.gif) scroll no-repeat
		50% 50%
}

.form-mail-area {
	padding: 1.11em .25em;
	font-size: 1.8em;
	color: rgba(51, 51, 51, .6)
}

.form-mail-area th, .form-mail-area td {
	vertical-align: middle
}

.form-mail-area th {
	white-space: nowrap;
	font-size: .75em
}

.form-mail-area input[type=text] {
	height: 1.875em;
	line-height: 1.875em;
	padding: 0 .34875em;
	margin-right: 5%;
	margin-left: 3%;
	font-size: .88em;
	border-radius: .125em;
	width: 90%
}

.hungBar {
	position: fixed;
	z-index: 103;
	bottom: 1.9em;
	right: 1em
}

@media only screen and (width:360px) {
	.hr-30 {
		height: 10px
	}
	.hr-60 {
		height: 20px
	}
	.hr-90 {
		height: 30px
	}
	.hr-100 {
		height: 33px
	}
	.hr-120 {
		height: 40px
	}
	.hr-150 {
		height: 50px
	}
	.hr-150-1 {
		height: 50px
	}
	.hr-178 {
		height: 59px
	}
	.hr-192 {
		height: 64px
	}
	.hr-200 {
		height: 67px
	}
	.icon-arrows-right, .icon-arrows-top, .icon-arrows-down {
		width: 32px;
		height: 32px;
		background-size: 32px 103px
	}
	.icon-arrows-right {
		background-position: 0 0
	}
	.icon-arrows-top {
		background-position: 0 -35px
	}
	.icon-arrows-down {
		background-position: 0 -70px
	}
	.icon-success {
		width: 32px;
		height: 32px
	}
	.icon-success-2, .icon-error-2 {
		width: 160px;
		height: 160px
	}
	.icon-del, .icon-del-disabled {
		width: 16px;
		height: 18px
	}
	.icon-ok {
		width: 38px;
		height: 29.5px
	}
	.icon-error {
		width: 30px;
		height: 29.5px
	}
	.icon-time {
		width: 35.5px;
		height: 35.5px
	}
	.icon-online, .icon-mail, .icon-tel {
		width: 32px;
		height: 32px
	}
	.icon-sc, .icon-review-none, .icon-list-empty, .icon-search-empty,
		.icon-appt-empty {
		width: 67px;
		height: 67px
	}
	.icon-order, .icon-msg, .icon-network-error {
		width: 75px;
		height: 75px
	}
	.icon-edit {
		width: 25.5px;
		height: 25px
	}
	.icon-options {
		width: 24px;
		height: 23.5px
	}
	.icon-tips {
		width: 18px;
		height: 18px
	}
	.icon-vip-0, .icon-vip-1, .icon-vip-2, .icon-vip-3, .icon-vip-4,
		.icon-vip-5 {
		width: 10px;
		height: 10px;
		background-size: 80px 10px
	}
	.icon-vip-0 {
		background-position: 0 0
	}
	.icon-vip-1 {
		background-position: -13px 0
	}
	.icon-vip-2 {
		background-position: -26px 0
	}
	.icon-vip-3 {
		background-position: -39px 0
	}
	.icon-vip-4 {
		background-position: -53px 0
	}
	.icon-vip-5 {
		background-position: -66px 0
	}
	.button-style-1 {
		width: 98px;
		border-radius: 11px
	}
	.button-style-2 {
		width: 98px;
		border-radius: 11px
	}
	.button-style-3 {
		width: 98px;
		height: 33px;
		border-radius: 11px
	}
	.button-top {
		width: 39px;
		height: 39px
	}
	.system-empty, .system-error {
		padding: 52px 16px 0
	}
	.system-empty .b, .system-error .b {
		margin-top: 16px
	}
	.system-empty .f, .system-error .f {
		padding-top: 52.5px
	}
	.system-empty a, .system-error a {
		width: 223px
	}
	.loading {
		margin: 16px 8px
	}
	.system-action {
		padding: 0 18px 30px
	}
	.button-go-shopping {
		border-radius: 11px
	}
	input[type=text] {
		height: 23px;
		width: 47px;
		border-radius: 9px;
		-webkit-border-radius: 9px
	}
	textarea {
		padding: 7.5px 5.5px
	}
	.checkbox i {
		width: 32px;
		height: 32px
	}
	.checkbox-text, .checkbox-text-checked {
		border-radius: 10px;
		padding: 9px;
		margin: 8px
	}
	.radiobox i {
		width: 32px;
		height: 32px
	}
	.star-area, .star-area s {
		background-size: 116px 11px
	}
	.star-area {
		width: 58px;
		height: 11px
	}
	.star-area s {
		height: 11px;
		background-position: -58px 0
	}
	.star-area-big, .star-area-big s {
		background-size: 20px 40px
	}
	.star-area-big {
		width: 100px;
		height: 20px
	}
	.star-area-big s {
		height: 20px;
		background-position: 0 -20px
	}
	.slider-btn span {
		padding: 2.5px 5px
	}
	.slider-btn em {
		width: 6px;
		height: 6px;
		margin: 0 2.5px
	}
	.tab-page>header {
		padding: 5px 16px
	}
	.tab-page>header th {
		height: 33.5px
	}
	.tab-page-area {
		min-height: 350px
	}
	.pro-panels {
		padding: 8px 0
	}
	.pro-panels .p-img {
		height: 68px;
		width: 68px
	}
	.pro-panels .p-img i, .pro-panels .icon-gift i {
		height: 26px;
		width: 26px
	}
	.pro-panels .p-name, .pro-panels .p-promotion {
		padding-left: 6px
	}
	.pro-panels .p-name {
		max-height: 34px;
		margin-top: 2px
	}
	.pro-panels-1 .p-name {
		max-height: 22px
	}
	.pro-panels .p-promotion {
		padding-top: 3px
	}
	.pro-panels .p-amount {
		bottom: 10px;
		right: 12px
	}
	.pro-panels .p-price {
		bottom: 10px;
		left: 74px
	}
	.pro-panels .p-price del {
		margin-left: 8px
	}
	.pro-panels .p-lack {
		right: 10px;
		bottom: 10px
	}
	.button-area-1 {
		padding: 10px 16px 10px
	}
	.button-area-2 {
		height: 68px;
		padding: 0 16px
	}
	.button-area-2 td {
		height: 68px
	}
	.tips {
		padding: 10px
	}
	.tips p {
		margin-bottom: 14px
	}
	.tips i {
		margin: 0 5px 0 4px
	}
	.tips-style-2 {
		padding: 8px
	}
	.index-top {
		height: 48px
	}
	.header {
		height: 48px
	}
	.header .search {
		left: 113px
	}
	.header .search input {
		padding: 13px 6px
	}
	.header .search .icon-search {
		height: 22px;
		width: 22px;
		background-size: 22px 22px;
		right: 6px
	}
	.breadcrumb header a {
		width: 45px;
		background-size: 9px 16px
	}
	.shortcut {
		padding-top: 5px;
		padding-right: 5px
	}
	.shortcut .icon-home, .shortcut .icon-shoppingCart, .shortcut .icon-personal,
		.shortcut .icon-search {
		padding: 19px;
		background-size: 30px 30px
	}
	.shortcut .icon-shoppingCart span {
		height: 15px;
		width: 15px
	}
	.shortcut .icon-text {
		height: 37px;
		width: 37px
	}
	.breadcrumb-search header em {
		height: 60px;
		line-height: 60px;
		left: 45px
	}
	.breadcrumb-search header em input {
		height: 34px
	}
	.breadcrumb-search .search-clear {
		height: 30px;
		width: 30px;
		margin-top: -16px
	}
	.breadcrumb-search .shortcut {
		padding-top: 11px
	}
	.naver {
		height: 48px;
		top: 48px
	}
	.naver:after {
		height: .5px;
		top: -.5px
	}
	.naver ul {
		height: 46px
	}
	.naver li {
		height: 46px;
		padding-right: .5px
	}
	.action-fixed {
		height: 72px
	}
	.osc-total-action-left {
		padding: 12px 16px
	}
	.osc-total-action-left .osc-total-price {
		margin-left: 5px
	}
	.osc-total-action-right {
		right: 16px;
		top: 12px
	}
	.hungBar {
		bottom: 19px;
		right: 10px
	}
}

@media only screen and (width:432px) {
	html {
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
	}
}